.funny {
    height: 47px;
    padding: 0 15px;
    border: 1px solid #e6eaf1;
    border-radius: 6px;
}

.input--similarities {
    margin-bottom: 20px;
    width: 290px;
}

.form--similarities {
    display: flex;
    flex-direction: column;
    position: relative;
}